main{
    width: 500px;
    height: 300px;
    background-color: rgb(103, 148, 148);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

head{
    display: flex;
}

h2{
justify-content: end;
}